html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  position: absolute;
  width: 28px;
  right: 46%;
  top: 135px;

}

.hand {
  width: 14px;
  transform-origin: bottom;
}

.hand-hour {
  position: absolute;
  right: 48%;
  bottom: 50%;
  transform-origin: bottom;
  animation: spin 6s infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.hand-minute {
  position: absolute;
  right: 48%;
  bottom: 50%;
  transform-origin: bottom;
  animation: spin .5s infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
}
